/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --themeColor: #ff2d20;
    --secLightDeep: #F6F3FE;
    --dark-gray: #5f5f5f;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

/* Navbar */
.navbar-fixed .navbar {
    background-color: white !important;
}

/* Hero Section */
.hero-section {
    min-height: 100vh;
    background: linear-gradient(to right, #F5EFEF, #FEADA6);
}

.hero-section .br-title-container .word-break:nth-child(2) {
    color: var(--themeColor);
}
.hero-section .br-title-container .word-break:nth-child(3) {
    display: block;
}

/* Title */
.top-title::after {
    content: '';
    top: 10px;
    height: 1px;
    width: 60px;
    margin-left: 12px;
    position: absolute;
    background-color: var(--themeColor);
}

/* Elements */
.overFollow-3dots {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.overFollow-5line {
    -webkit-line-clamp: 5;
}

.double-colon::before {
    content: '❝';
}

.double-colon::after {
    content: '❞';
}

.footer-link {
    color: #000;
    transition: 0.4s all ease-in-out;
}

.footer-icon {
    color: #000;
    transition: 0.4s all ease-in-out;
}

.footer-icon:hover {
    color: var(--themeColor);
    border-color: var(--themeColor) !important;
}

.footer-link:hover {
    color: var(--themeColor);
}

/* Buttons */
.btn-icon-animation .icon {
    transform: scale(0.80);
    transition: all 0.4s ease-in-out;
}

.btn-icon-animation:hover .icon {
    transform: scale(1.1);
}

/* Border */
.b-gray-5px {
    border: 5px solid #a2a3a6
}

/* Color */
.themeColor {
    color: var(--themeColor);
}

.text-dark-gray {
    color: var(--dark-gray);
}

.danger-opacity-bg {
    background-color: rgba(255, 45, 32, 0.15);
}

.programming-challenge-card .col-12:nth-child(2n + 1) .card h2 {
    background: linear-gradient(to right, #D4FC79, #96E6A1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

.programming-challenge-card .col-12:nth-child(2n + 2) .card h2 {
    background: linear-gradient(to right, #F6D365, #FDA085);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

.programming-challenge-card .col-12:nth-child(2n + 3) .card h2 {
    background: linear-gradient(to right, #F99185, #B12A5B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

/* Background Color */
.themeBG {
    background-color: var(--themeColor);
}

.section-light-deep {
    background-color: var(--secLightDeep);
}

.gradient-bg {
    background: linear-gradient(130deg, rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0));
}

.gradient-bg-2 {
    background: linear-gradient(to right, rgba(245, 239, 239, 0.6), #acacac);
}

.gradient-bg-3 {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.programming-challenge-card .col-12:nth-child(2n + 1) .card .card-img-top {
    background: linear-gradient(130deg, #84FAB0, #8FD3F4);
}

.programming-challenge-card .col-12:nth-child(2n + 2) .card .card-img-top {
    background: linear-gradient(130deg, #F6D365, #FDA085);
}

.programming-challenge-card .col-12:nth-child(2n + 3) .card .card-img-top {
    background: linear-gradient(130deg, #F99185, #B12A5B);
}

/* Position */
.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

/* Background Images */
.bg-image {
    background-position: right;
    background-image: url("../assets/images/bg-image.png");
}

/* Section Wise Border */
.learners-about .row .col-12:nth-child(1) .card,
.learners-about .row .col-12:nth-child(2) .card,
.learners-about .row .col-12:nth-child(3) .card {
    border: 0;
    border-right: 1px solid #ccc;
}

.learners-about .row .col-12:nth-child(3) .card {
    border: 0;
    border-right: 0 solid #ccc;
}

/* Font Size */
.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}

.fs-36 {
    font-size: 36px;
}

.fs-48 {
    font-size: 48px;
}

.fs-60 {
    font-size: 60px;
}

.fs-72 {
    font-size: 72px;
}

.min-height-118 {
    min-height: 118px;
}

/* Font Weigh */
.fw-600 {
    font-weight: 600;
}

/* Padding */
.pl-50 {
    padding-left: 50px;
}

/* Position */
.right-5 {
    right: 5px;
}

.right-8 {
    right: 8px;
}

.top-6 {
    top: 6px;
}

.top-8 {
    top: 8px;
}

.top-9 {
    top: 9px;
}

.left-8 {
    left: 8px;
}

.left-17 {
    left: 17px;
}

/* Line Height */
.lh-60 {
    line-height: 60px;
}

/* Height */
.h-18 {
    height: 18px;
}

.h-22 {
    height: 22px;
}

.h-40 {
    height: 40px;
}

.h-50p {
    height: 50px;
}

.h-30 {
    height: 30px;
}

.w-30 {
    width: 30px;
}

.h-60 {
    height: 60px;
}

/* Width */
.w-18 {
    width: 18px;
}

.w-60 {
    width: 60px;
}

.w-150 {
    width: 150px;
}

.w-160 {
    width: 160px;
}

/* Word Break */
.wb-w80 {
    width: 80px;
    word-break: break-word;
}

.wb-w85 {
    width: 85px;
    word-break: break-word;
}

.wb-w70 {
    width: 70px;
    word-break: break-word;
}

/* Border Radius */
.btl-round-8 {
    border-top-left-radius: 8px;
}

.btr-round-8 {
    border-top-right-radius: 8px;
}

/* Filter Option */
.filter-select .form-select {
    margin: 0 10px;
}

.filter-select .form-select:first-child {
    margin-left: 0;
}

.filter-select .form-select:last-child {
    margin-right: 0;
}

.pagination .page-item.active .page-link {
    border-color: var(--themeColor) !important;
    background-color: var(--themeColor) !important;
}

/* Filter Options Collapse */
.tutorialFilterContainer .filter-showHide-btn {
    width: 100%;
    color: white;
    margin-top: 0;
    display: block;
    font-size: 14px;
    text-align: start;
    position: relative;
    border-radius: 8px;
    padding: 14px 26px 8px 16px;
    background-color: var(--themeColor);
}

.tutorialFilterContainer .filter-showHide-btn:hover {
    color: white;
    background-color: var(--themeColor);
}

.tutorialFilterContainer .filter-showHide-btn:focus {
    box-shadow: none !important;
}

.tutorialFilterContainer .filter-showHide-btn .fa-arrow-right {
    top: 15px;
    right: 15px;
    font-size: 14px;
    position: absolute;
    transform: rotate(90deg);
    transition: 0.4s all ease-in-out;
}

.tutorialFilterContainer .filter-showHide-btn.icon-rotate .fa-arrow-right {
    transform: rotate(270deg);
    transition: 0.4s all ease-in-out;
}

.tutorialFilterContainer .filter-item-body {
    border: 0 !important;
    padding: 0 !important;
}

.tutorialFilterContainer .filter-title {
    display: none;
}

.tutorialFilterContainer .collapse:not(.show) {
    display: none !important;
}

@media only screen and (min-width: 576px) {
    .tutorialFilterContainer .filter-showHide-btn {
        display: none;
    }

    .tutorialFilterContainer .collapse:not(.show) {
        display: block !important;
    }
}

@media only screen and (max-width: 575px) {
    .filter-select .form-select {
        margin: 10px 0 !important;
    }
}

/* Responsive */
@media only screen and (max-width: 991px) {
    .w-100-mx-991 {
        width: 100%;
    }

    .hero-section {
        padding: 50px 0;
    }

    .fs-50-mx-991 {
        font-size: 50px;
    }

    .fs-22-mx-991 {
        font-size: 22px;
    }

    .fs-22-mx-991 {
        font-size: 22px;
    }

    .fs-12-mx-991 {
        font-size: 12px;
    }

    .lh-12-mx-991 {
        line-height: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar {
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        position: fixed;
        transition: 0.4s all ease-in-out;
    }

    .mouseScroll .navbar {
        box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
    }

    .hero-section {
        padding-top: 130px;
    }

    .text-center-mx-767 {
        text-align: center;
    }

    .fs-22-mx-767 {
        font-size: 22px;
    }

    .fs-32-mx-767 {
        font-size: 32px;
    }

    .learners-about .row .col-12:nth-child(2) .card {
        border: 0;
        border-right: 0 solid rgba(204, 204, 204, 0);
    }
}

@media only screen and (max-width: 575px) {
    .learners-about .row .col-12:nth-child(1) .card {
        border: 0;
        border-right: 0 solid rgba(204, 204, 204, 0);
    }

    .learners-about .card {
        border-bottom: 1px solid rgba(204, 204, 204, 1) !important;
    }

    .learners-about .col-12:last-child .card {
        border-bottom: 0 solid rgba(204, 204, 204, 0) !important;
    }

    .take-skill .col-12:last-child {
        margin-bottom: 0 !important;
    }

    .navbar-brand img {
        height: 40px;
    }

    .fs-14-mx-767 {
        font-size: 14px;
    }

    .pagination-container .d-flex {
        text-align: center;
        display: block !important;
    }

    .pagination-container .pagination {
        display: flex;
        margin-top: 10px;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        height: 80px;
        position: fixed;
        transition: all ease-in-out 0.5s;
        background-color: transparent !important;
    }

    .removeNavbar .navbar {
        top: -70px;
    }

    .removeNavbar.mouseScroll .navbar {
        top: 0;
        background-color: #ffffff !important;
        box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
    }

    .filter-select .form-select {
        max-width: 250px;
    }

    /* 2 line three dots... */
    .two-line-three-dots {
        text-align: justify;
        width: 100%;
        height: 60px;
        overflow: hidden;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }
}

@media only screen and (max-width: 767px) {
    .hero-section {
        padding-top: 90px;
    }
}